# Project

In [124]:
import dash
from dash import html
from dash import dcc
import plotly.express as px
import pandas as pd
from dash.dependencies import Input,Output,State

In [125]:
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    
    if 'M' in x:
        return float(x.replace('M', ''))/ 1000
        
    if 'B' in x:
        return float(x.replace('B', ''))

In [126]:
df=pd.read_excel('D:\\ITI AI-pro\\dashboard\\forbes-2021.xlsx')
df = df.replace([',','\$'],'', regex=True) 
df.drop(columns=['Rank','Year','Assets'],inplace=True)
df['Market Value']=df['Market Value'].apply(value_to_float)
df['Profit']=df['Profit'].apply(value_to_float)
df['Sales']=df['Sales'].apply(value_to_float)
df.loc[~df['Country'].isin(['United States', 'China', 'Japan','United Kingdom','Hong Kong','South Korea','Germany']),'Country']='other'
df.head()

,Name,Country,Sales,Profit,Market Value
0,ICBC,China,190.5,45.8,249.5
1,JPMorgan Chase,United States,136.2,40.4,464.8
2,Berkshire Hathaway,United States,245.5,42.5,624.4
3,China Construction Bank,China,173.5,39.3,210.4
4,Saudi Arabian Oil Company (Saudi Aramco),other,229.7,49.3,1897.2

In [127]:
df.groupby('Country', as_index=False).count()

          Country  Name  Sales  Profit  Market Value
0           China   307    307     307           307
1         Germany    58     58      58            58
2       Hong Kong    64     64      64            64
3           Japan   229    229     229           229
4     South Korea    62     62      62            62
5  United Kingdom    69     69      69            69
6   United States   611    611     611           611
7           other   700    700     700           700

In [128]:
fig1=px.histogram(df.sort_values(by='Sales',ascending=False).head(10),x='Name',y='Sales',color='Country',hover_data=df.columns,
            title='Top 10 companies',labels={'Sales':'Sales (billions)'})

fig1.update_layout({'paper_bgcolor':'#C0C0C0'})




fig2=px.scatter(df,x='Sales',y='Profit',
           color='Country',
           size='Market Value',
           size_max=60, #size-max to increase size of circles
          hover_name='Name',
          log_x=True, #log-x to take the log of x instead of using log of pandas first to make data transformation
          title='Sales to Profit',
           labels={'Sales':'Sales (billions)', 'Profit':'Profit (billions)'}
          
          )
fig2.update_layout({'paper_bgcolor':'#C0C0C0'})

fig3=px.pie(df.groupby('Country', as_index=False).count(), values='Name', names='Country', title='Countries percentage')
fig3.update_layout({'paper_bgcolor':'#C0C0C0'})


contList=[{'label':'All','value':'All'}]
for i in df['Country'].unique():
    contList.append({'label':i,'value':i})
contList

[{'label': 'All', 'value': 'All'},
 {'label': 'China', 'value': 'China'},
 {'label': 'United States', 'value': 'United States'},
 {'label': 'other', 'value': 'other'},
 {'label': 'South Korea', 'value': 'South Korea'},
 {'label': 'Japan', 'value': 'Japan'},
 {'label': 'Germany', 'value': 'Germany'},
 {'label': 'Hong Kong', 'value': 'Hong Kong'},
 {'label': 'United Kingdom', 'value': 'United Kingdom'}]

In [129]:
#cssPath='C:\Users\hazem\Desktop\style.css'
app=dash.Dash()
app.layout=html.Div([
    html.H1('Forbes Top 2000 Companies 2021',style={'textAlign':'center' , 'color': 'blue'}),
    html.Div([
        html.Div([
              dcc.Graph(figure=fig1)
       ],style={'width':'45%','margin':'auto','background-color':'#C0C0C0'})
     ,
        html.Div([
        dcc.Dropdown(
        id='demo-dropdown',
        options=contList,
        value='All'
    ),
            
        dcc.Graph(id='myfig',figure=fig2),
    html.Div(id='dd-output-container')
],style={'width':'45%','margin':'auto','background-color':'#C0C0C0'})
    ],style={'display':'flex','align-items':'center','justify-content':'center'}) ,
    
    
    html.Div([
        dcc.Graph(figure=fig3)
    ],style={'width':'50%','margin':'auto','background-color':'#C0C0C0'})
       
],style={'height':'100%','background-color':'#C0C0C0'})

In [130]:
@app.callback(
    Output(component_id='myfig',component_property='figure'),
    Input(component_id='demo-dropdown',component_property='value')
    
)
def myFunc(cont):
    if cont=='All':
        fig=px.scatter(df,x='Sales',y='Profit',
           color='Country',
           size='Market Value',
           size_max=60, #size-max to increase size of circles
          hover_name='Name',
          log_x=True, #log-x to take the log of x instead of using log of pandas first to make data transformation
          title='Sales to Profit',
           labels={'Sales':'Sales (billions)', 'Profit':'Profit (billions)'}
          
          )
        
    else:
        fig=px.scatter(df[df['Country']==cont],x='Sales',y='Profit',
           color='Country',
           size='Market Value',
           size_max=60, #size-max to increase size of circles
          hover_name='Name',
          log_x=True, #log-x to take the log of x instead of using log of pandas first to make data transformation
          title='Countries portions',
           labels={'Sales':'Sales (billions)', 'Profit':'Profit (billions)'}
          
          )
    
        
    
    fig.update_layout({'paper_bgcolor':'#C0C0C0'})
    
    
    return fig

In [131]:
app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [27/Oct/2021 23:56:59] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [27/Oct/2021 23:57:00] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [27/Oct/2021 23:57:00] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [27/Oct/2021 23:57:00] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [27/Oct/2021 23:57:00] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [27/Oct/2021 23:57:00] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
127.0.0.1 - - [27/Oct/2021 23:57:01] "POST /_dash-update-component HTTP/1.1" 200 -